/*der 
Logo font-family options:
font-family: 'Cormorant Garamond', serif;
Avilable styles: 700 italic

All other texts:
font-family: 'PT Serif', serif;
Available styles: 
regular 400
regular 400 italic
bold 700
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}

/* General styles for desktop devices */

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
}

.navbar {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 54px;
    font-size: 14px;
}
    
main {
    position: relative;
}


/* Media query for mobile devices with a viewport of less than or equal to 375px */
@media (width <= 375px) {

    
    .navbar__burgerMenu {
        display: flex;
        justify-content: center;
        font-size: 12px;
        padding-right: 21px;
        padding-left: 21px;
    }
    
    .navbar__shoppingCart {
        color: #FFF;
        display: flex;
        justify-content: center;
        font-size: 11px;
    }
    
    .navbar__languageOptions {
        display: flex;
        justify-content: flex-end;
        color: #FFF;
        font-size: 12px;
        width: 151px;
        padding-right: 19px;
    }
    
    .navbar__home {
        color: #FFF;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 700;
        flex-grow: 1;       /* Allow to grow and shrink */
    }
    
    .header__logo {
        height: 68px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cormorant Garamond', serif;
        font-size: 44px;
        font-weight: 700;
        color: #1D1A1A;
    }
    
    .header__otherText {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        color: #000;
        margin-bottom: 27px;
    }

    .header__cardsIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 31px;
        color: #000;
        margin-bottom: 15px;
    }

    .header__cardsPadding {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .menuSection {
        position: relative;
        margin-bottom: 27px;
    }
    
    .main__individualItemFoto {
        position: relative;
        margin-bottom: 11px;
    }
    
    .menuSection--ultimaFoto {
        margin-bottom: 0px;
    }
    
    .main__image {
        max-width: 100%;
        /* max-height: 387px; */
        height: auto;
    }
    
    .main__bgFotoText {
        position: absolute;
        top: 19px;
        left: 15px;
        height: 29px;
        width: auto;
        color: #FFF;
        background-color: #1D1A1A;
        display: flex;
        font-weight: 900;
        align-items: center;
        justify-content: flex-start;
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
    
    .main__bgFotoText:hover {
        color: #000;
        transition: ease-out 0.5s;
        border-radius: 10px 0px 10px 10px;
        background-color: #999;
    }

    .main__productTitleLink {
        position: absolute;
        top: 19px;
        left: 15px;
        height: 29px;
        width: auto;
        color: #000;
        background-color: #FFF;
        display: flex;
        font-weight: 900;
        align-items: center;
        justify-content: flex-start;
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
    
    .main__productTitleLink:hover {
        color: #000;
        transition: ease-out 0.5s;
        border-radius: 10px 0px 10px 10px;
        background-color: #999;
    }


    
    .main__buttonLink {
        font-size: 13px;
        height: 27px;
        width: auto;
        position: absolute;
        left: 200px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #000;
        background-color: #FFFFFF;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
    
    .main__buttonLink:hover {
        color: #000;
        transition: ease-out 0.5s;
        border-radius: 10px 0px 10px 10px;
        background-color: #999;
    }
    
    /* Home page buttons */
    .main__buttonLink--pizza {
        top: 100px;
    }
    
    .main__buttonLink--empanada {
        top: 130px;
    }
    
    .main__buttonLink--postre {
        top: 160px;
    }
    
    /* Menu section buttons */
    .menuSection__Btn--1 {
        top: 100px;
    }
    
    .menuSection__Btn--2 {
        top: 130px;
    }
    
    .menuSection__Btn--3 {
        top: 160px;
    }
    
    .menuSection__Btn--4 {
        top: 190px;
    }
    
    .main__pizzaPrice {
        font-size: 31px;
        height: 45px;
        width: auto;
        position: absolute;
        left: 241px;
        top: 190px;
        background-color: #000;
        color: #fff;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        opacity: 0.775;
    }
    
    .main__cartButtonsDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main__cartButtons {
        font-weight: 700;
        color: #FFF;
        background-color: #1D1A1A;
        padding: 5px 10px; 
        font-size: 13px;
    }
    
    .main__cartPrice {
        font-size: 21px;
        font-weight: 700;
        margin-right: 10px;
        color: #1D1A1A;
    }
    
    .main__cartButtons--addItem {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }
    
    .main__cartButtons--addItem:hover {
        color: #000;
        transition: ease-out 0.5s;
        border-radius: 10px 0px 10px 10px;
        background-color: #999;
    }
    
    .main__cartButtons--number {
        margin-left: 1px;
    }
    
    .main__cartButtons--calculate {
        margin-left: 1px;
        cursor: pointer;
    }
    .main__cartButtons--calculate:hover {
        color: #000;
        transition: ease-out 0.5s;
        border-radius: 10px 0px 10px 10px;
        background-color: #999;
    }
    
    .footer__navLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        color: #1D1A1A;
        font-size: 14px;
    }
    
    .footer__otherText {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1D1A1A;
        font-size: 11px;
    }

    .main__formDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 17px;
    }

    .main__checkoutForm {
    }

    .main__inputText {
        width: 273px;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #404040;
    }

    .main__formDivAddress {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 17px;
    }

    .main__formContactSend {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 17px;
    }

    .main__inputTextAddress {
        width: 131px;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #404040;
    }

    .main__formSelect {
        width: 273px;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #404040;
        margin-bottom: 17px;
    }

    .main__formTextArea {
        width: 273px;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #404040;
    }

    .main__inputCardNum {
        width: 171px;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #404040;
    }

    .main__inputCardCode {
        width: 91px;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #404040;
    }

    .main__inputCheckout {
        width: 171px;
        font-weight: 700;
        color: #FFF;
        background-color: #1D1A1A;
        padding: 5px 10px;
        font-size: 13px;
        border-radius: 5px;
        cursor: pointer;
    }

    .main__inputCheckout:hover {
        color: #000;
        transition: ease-out 0.5s;
        border-radius: 10px 0px 10px 10px;
        background-color: #999;
    }

    .main__finalPriceSection {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 17px;
    }

    .main__cartFinalPrice {
        font-size: 21px;
        font-weight: 700;
        margin-right: 10px;
        color: #1D1A1A;
    }

    .main__cartBackText {
        font-size: 14px;
        color: #1D1A1A;
    }

    /* Styles for the shopping cart page in mobile devices */ 

    .main__cartArticle {
        display: flex;
    }

    .main__cartArticle--picture {
        background-color: red;
        width: 103px;
        height: 103px;
        margin-bottom: 17px;
    }

    .main__cartArticle--otherInfo {
        background-color: blue  ;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 17px;
    }
    

}

/* Media query for tablets with a viewport of more than 375px and less than or equal to 744px */
@media (width > 376px) and (width <= 744px) {
    .navbar {
    }
}
