<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza Palooza - Pizza example</title>
    <link rel="stylesheet" href="/css/mainStyles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar__home">Home</div>
        <div class="navbar__languageOptions">English | Español</div>
        <div class="navbar__shoppingCart"><i class="fa-sharp fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i></div>
        <div class="navbar__burgerMenu"><i class="fa-sharp fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></div>
      </nav>
      <div class="header__logo">Pizza Palooza</div>
      <div class="header__otherText">Meter todo en el horno y pagar!</div>
    </header>
    <main>
      <!-- The checkout form begins here  -->
      <form action="" class="main__checkoutForm">
        <div class="main__formDiv">
          <input type="text" placeholder="Nombre Completo" class="main__inputText">
        </div>
        <div class="main__formDiv">
          <input type="text" placeholder="Calle" class="main__inputText">
        </div>
        <div class="main__formDivAddress">
          <div>
            <input type="text" placeholder="Numero" class="main__inputTextAddress">
          </div>
          <div>
            <input type="text" placeholder="Departamento" class="main__inputTextAddress">
          </div>
        </div>
        <div cla></div>:

      </form>
    </main>
    <footer>
      <div class="footer__navLinks">Home | Menú | Nosotros | Contacto</div>
      <div class="footer__otherText">
        <p>Desarrollo por <a href="">JMFC</a> para el portfolio de trabajos</p>  
      </div>
    </footer>
  </body>
</html>
